*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
    font-size: 1rem;
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  
  ::placeholder{
    font-size: 0.8rem;
  }
  
  .div-border{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding:0.6rem;
    border: solid 2px #ced4da;
    border-radius: 2%;
  }
  
  .OR{
    color: #8E8E8E;
    padding:0.6rem;
    position: relative;
    bottom: 0.6rem;
  }
  
  .hover:hover{
    text-decoration: none;
  }

  .post{
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.3;
  }