#forgot-password{
    text-align: center;
}

#forgot-password .container-fluid{
    padding:7% 13%;

}

.forgot-page-wrapper{   
    padding:1.5rem 2rem;
    max-width: 25rem;
    margin:0 auto;
}

#forgot-password h1{
    margin:0.5rem 0 1rem 0;
}

.forgot-subheading{
    margin-bottom: 1.5rem;
    color:#8E8E8E;
    font-size: 1.2rem;
    font-weight: 600;
}

.forgot-input{
    margin-bottom: 1rem;
}

.forgot-button{
    width: 100%;
    margin-bottom: 1rem;
}

.forgot-or-div{
    margin-bottom: 1rem;
}

.forgot-lower-div{
    margin-top:1.25rem;
    padding:1rem;
}

.password-input{
    margin-bottom: 1rem;
}

@media(max-width:992px){
    #forgot-password .container-fluid{
        padding:7% 13%;
    }
}

@media(max-width:576px){
    #forgot-password .container-fluid{
        padding:13%;
    }
}