 #Profile .container-fluid{
     padding:4% 13%;
 }

 #Profile h1,h2{
    margin-bottom: 0;
    font-weight:normal;
}

#Profile h5{
    margin:0 4rem 0 0;
    font-weight: lighter;
}

 .profile-page-wrapper{
    padding:1rem;
}

.top-div{
    margin-bottom: 3rem;
}

.profile-img-div{
    display: flex;
    justify-content: center;   
    max-width:25rem;
}

.profile-page-img{
    max-width: 12rem;
    max-height: 12rem;
}

.user-info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}

.email-and-editProfile{
    display: flex;
}

.edit-profile{
    font-size: 1.2rem;
    padding:1.1rem 4rem;
}

.core-info{
    display: flex;
}

.bottom-container{
    padding:0 5.5rem;
}

#Profile .profilePage{
    width: 100%;
    margin:0 0 1rem;
    border-top-width: 2px;
 }

 .your-profile{
    margin:0;
    font-weight: lighter;
 }

.options-div{
    display: flex;
    justify-content: space-between;
}

.button-style-profile{
    border:none;
    text-align:left ;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.button-style{
    border:none;
    background-color: #ffffff;
    text-align:left ;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.ui-icons-profile{
    display: flex;
    justify-content: space-between;
    width: 14%;
}
