.navbar {
    padding: 0.1rem 8% 0 10%;
  }

  .navbar-custom{
    background-color: #1B98F5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 0.8rem;
  }

  .profile-dropdown{
    padding:0 0 0 0.8rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    font-weight:400;
  }
  
  .navbar-buttons {
    border-radius: 2rem;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 0.7rem;
    margin: 0.3rem auto 0;
  }
  
  .profile-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
  }
  
  .logout {
    display: flex;
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding: 0.25rem 1.5rem;
  }
  