.navbar {
    padding: 0.1rem 8% 0 10%;
  }

  .navbar-custom{
    /* background-color: #1089FF; */
    background-color: #1B98F5;
    /* background-color: #23C4ED; */
    /* background-color:#383CC1; */
    /* background-color: #12B0E8; */
    /* background-color: #51E1ED; */
    /* background-color:#207398; */
    /* background-color: #46B2E0; */
    /* background-color: #3944F7; */
    /* background-color: #2827CC; */
    /* background-color: #120E43; */
    /* background-color: #5DA3FA; */
    /* background-color: #03203C; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 0.8rem;
  }

  .profile-dropdown{
    padding:0 0 0 0.8rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    font-weight:400;
  }
  
  .navbar-buttons {
    border-radius: 2rem;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 0.7rem;
    margin: 0.3rem auto 0;
  }
  
  .profile-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
  }
  
  .logout {
    display: flex;
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding: 0.25rem 1.5rem;
  }
  