#contact-us{
    text-align: center;
}

#contact-us .input{
    margin-bottom: 1rem;
}

#contact-us .container-fluid{
    padding:4% 5%;
}

.contact-us-wrapper{
    padding:0 8%;
}

.contact-image{
    height: 85%;
    width: 85%;
    margin:0 auto;
}

.header-contact-us{
    text-align: center;
}

#contact-us .subheading{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color:#8E8E8E;
}

.right-div{
    padding:3rem 2rem;
}

.wrapper-contact{
    margin:0 2.5rem;
    padding:1rem;
}

#contact-us input{
    margin-bottom: 1rem;
    border: solid 2px #ced4da;
}

#contact-us textarea{
    border: solid 2px #ced4da;
}

#contact-us form{
    padding: 2rem;
}

.contact-us-question{
    margin-bottom: 1rem;
    resize:none;
    height: fit-content;
}

@media(max-width:992px){
    .contact-image{
        height: 0;
        width: 0;
    }

    .wrapper-contact{
        margin:0;
    }

    .contact-us-wrapper{
        padding: 0 24%;
    }

    .right-div{
        padding-top:0;
    }
}

@media(max-width:576px){
    .contact-us-wrapper{
        padding:10% 5%;
    }
}

